.box{
    min-height: 36em;
}

.navbar-default {
    background-color: #F30543;
}

section {
    padding-bottom: 30px;
    padding-top: 35px;
}

button:focus {
    outline:0px;
}

textarea.materialize-textarea {
    overflow-y: hidden;
    resize: none;
    min-height: 3rem;
}

.input-field .prefix.active{
	color: #FD0101 !important;
}

.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    line-height: 36px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    margin: 0px;
}

#enviar{
	position: relative;
	margin: 0.5rem 3.0rem;
}


