.box{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 120px;
    padding: 10px;
    background:$color-primario;
    z-index: 2000;
}

.navbar-default {
    background-color: #F30543;
}

section {
    padding-bottom: 30px;
    padding-top: 35px;
}

button:focus {
    outline:0px;
}

textarea.materialize-textarea {
    overflow-y: hidden;
    resize: none;
    min-height: 3rem;
}

.input-field .prefix.active{
	color: #FD0101 !important;
}

.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    line-height: 36px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    margin: 0px;
}

#enviar{
	position: absolute;
    margin-top: 3.1rem;
    font-size: 2rem;
    color: $color-secundario;
}

.input-field{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    background-color: $color-secundario;
}