.box-inicial {
    background: $color-primario;

        p {
            text-align: center;
            color: $color-secundario;
            margin: 0px auto;
            font-size: 2.7em;
        }

}

.fa{
    width: $width-principal;
    height: $height-secundario;
    color: $color-secundario;
    font-size: $font-size-iconos !important;
    text-align: center;
    cursor: pointer;

}

.fa-paper-plane{
    color: #000;
    padding-top: 1.2rem;
    cursor: pointer;
}

bottom:focus{
    background: #fff;
}

.globoCliente{
    max-width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 5px;
    border-width: 5px 10px 5px 0;
    background-color: #666;
    position: relative;
    color: #909090;
    margin-top: 5%;
    margin-bottom: 5%;
    
}


